html,body {
    margin  : 0;
    padding : 0;
}

#content {
    text-align : left;
    min-height : 100%;
    width      : 100%;
    height     : 100%;
    padding    : 0;
    margin     : 0 auto;
    background-image: url(/images/background.png);
}

#minimum-banner {
    text-align  : left;
    width       : 100%;
    height      : 60px;
    margin      : 0 auto;
    padding     : 0;
    top         : 0;
    z-index     : 1;
    background-image: url(/images/banner.png);
    border-bottom  : 2px solid #889fa3;
}

#minimum-banner-content {
    text-align  : left;
    width       : 1280px;
    height      : 60px;
    margin      : auto;
    padding     : 0;
    top         : 0;
    z-index     : 1;
}

#minimum-content {
    margin        : 0 auto;
    position      : relative;
    width         : 1280px;
    height        : 100%;
    z-index       : 0;
    overflow      : auto;
    /*background    : #998c7f;*/
    /*background    : #948C75;*/
    /*overflow      : hidden;*/
    /*max-height    : 740px;*/
}

#minimum-layout-left {
    float         : left;
    top           : 30px;
    width         : 640px;
    padding-left  : 0px;
    padding-right : 0px;
}

#minimum-layout-right {
    position      : absolute;
    top           : 30px;
    width         : 640px;
    padding-right : 0px;
    padding-left  : 0px;
}

#minimum-right-title {
    height       : 70px;
    min-height   : 70px;
    padding-left : 30px;
}

#minimum-left-title {
    height       : 70px;
    min-height   : 70px;
    padding-left : 30px;
    margin-top   : 50px;
}

#minimum-left-content {
    border-right  : 2px solid #7A6A53;
    height        : 100%;
    margin-left   : 40px;
    min-height    : 940px;
}

#minimum-right-content {
    padding-top   : 0px;
    height        : 100%;
    margin-left   : 40px;
    min-height    : 940px;
}
