body {
    width       : 100%;
    margin      : 0 auto;
    /*font      : 14px/1.4 "myriad-pro", sans-serif;*/
    /*font-size : 14pt;*/
    font-family : "myriad-pro", sans-serif;
    font-size   : 14px;
    background  : #98b6e7;
    color       : #5e5e5e;
}

hr {
    margin     : 10px 0px;
    height     : 1px;
    border     : 0;
    background : #eee;
}

a {
  text-decoration : none;
  color           : #212121;
}

a:hover {
  color           : #ffffff;
  text-decoration : underline;
}

img {
    display      : block;
    margin-left  : auto;
    margin-right : auto
}

span.nav {
    text-align : right;
}

span.yellow {
    color : #ffcc00;
}

span.green {
    color : #33cc00;
}

span.orange {
    color : #ff7900;
}

span.blue {
    color : #0000ff;
}

span.red {
    color : #ff0000;
}

span.white {
    color : #ffffff;
    /*-webkit-text-stroke: 1px black;*/
    /*text-shadow:*/
      /*-0.5px -0.5px 0 #000,*/
      /*0.5px -0.5px 0 #000,*/
      /*-0.5px 0.5px 0 #000,*/
      /*0.5px 0.5px 0 #000;*/
}

a.yellow {
    color : #ffcc00;
}

a.green {
    color : #33cc00;
}

a.orange {
    color : #ff7900;
}

a.blue {
    color : #0000ff;
}

a.red {
    color : #ff0000;
}

a.white {
    color : #ffffff;
}


/* CHART */
div.chartlist {
    margin-top  : 50px;
    margin-left : 50px;
    width       : 75%;
}

.chartlist li {
    position : relative;
    display  : block;
}

.chartlist .count {
    display     : block;
    position    : absolute;
    top         : 0;
    right       : 0;
    margin      : 0 0.3em;
    text-align  : right;
    color       : #000;
    font-weight : bold;
    font-size   : 0.975em;
}

.chartlist li a {
    display         : block;
    padding         : 1.6em 4.5em 0.4em 0.5em;
    position        : relative;
    z-index         : 2;
    font-size       : 0.7em;
    text-decoration : none;
}

.chartlist .index {
    display      : block;
    position     : absolute;
    border-style : solid;
    border-width : 1px;
    top          : 0;
    left         : 0;
    height       : 98%;
    background   : #B8E4F5;
    text-indent  : -9999px;
    overflow     : hidden;
}


/* boulder list */

#setter-boulderlist {
    list-style-type : none;
    font-size       : 14pt;
    margin-left     : 4px;
}

#setter-boulderlist li {
    display : inline;
}

#setter-boulderlist span {
    display               : inline-block;
    border                : 1px solid #999;
    font-weight           : bold;
    border-radius         : 3px;
    padding-left          : 4px;
    padding-right         : 4px;
    margin-left           : 4px;
    margin-right          : 4px;
    margin-bottom         : 4px;

    background-color      : #f5f5f5;
    border                : 1px solid #e3e3e3;
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
    -webkit-box-shadow    : inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow       : inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow            : inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#setter-boulderlist span.removed {
    background      : #7d7171;
    opacity         : 0.5;
    text-decoration : line-through;
}

#boulderlist {
    list-style-type : none;
    line-height     : 1.7em;
    font-size       : 14pt;
    margin-left     : 20px;
}

#boulderlist li {
}

#boulderlist li.removed {
    text-decoration : line-through;
}

#boulderlist span.removed {
    text-decoration : line-through;
}

#boulderlist a.yellow {
    color : #ffcc00;
}

#boulderlist a.green {
    color : #33cc00;
}

#boulderlist a.orange {
    color : #ff7900;
}

#boulderlist a.blue {
    color : #0000ff;
}

#boulderlist a.red {
    color : #ff0000;
}

#boulderlist a.white {
    color : #ffffff;
}

#boulderlist a {
  text-decoration : none;
  color           : #212121;
}

#boulderlist a:hover {
  color           : #ffffff;
  text-decoration : underline;
}

.boulder {
    height                : 30px;
    padding-top           : 5px;
    padding-bottom        : 5px;
    width                 : 300px;
    font-weight           : bold;
    vertical-align        : center;
    font-size             : 18pt;

    background-color      : #f5f5f5;
    border                : 1px solid #e3e3e3;
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
    -webkit-box-shadow    : inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow       : inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow            : inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.boulder > div {
    padding-left  : 120px;
    margin-bottom : 3px
}

.difficulty > span {
    color : orange;
}

img.mini_avatar {
    display       : block;
    margin        : 0;
    padding       : 0;
    border-radius : 2px;
    width         : 30px;
    padding-left  : 5px;
}


/*******************************
 * Minimum banner and navigation
 *******************************/

img.logo {
    position    : absolute;
    margin-left : 4px;
    margin-top  : 5px;
    height      : 40px;
    z-index     : 100;
}

#nav {
  /*position: absolute;*/
  float           : right;
  margin-top      : 20px;
  margin-right    : 40px;
  list-style-type : none;
  font-size       : 14px;
}

#nav li {
  display     : inline-block;
  margin-left : 30px;
  font-size   : 16px;
}

#nav a {
  text-decoration : none;
  color           : #212121;
}

#nav a:hover {
  color           : #ffffff;
  text-decoration : underline;
}

/*******************************
 * Setter presentation
 *******************************/

div.setter_name {
    padding-left  : 130px;
    padding-top   : 0px;
    margin-top    : 0px;
    margin-bottom : 90px;
    font-size     : 16pt;
}

#setter_prop {
    list-style-type : none;
    line-height     : 1.7em;
    font-size       : 12pt;
    margin-left     : 0px;
    padding         : 0;
}

#setter_prop li {
}

div.setter_histogram {
    min-height : 121px;
}

div.setter_boulders {
    margin-top  : 50px;
    margin-left : 50px;
    width       : 75%;
}

#boulder_setters {
    margin-top      : 0px;
    margin-left     : 10px;
    padding-top     : 5px;
    /*position      : absolute;*/
    /*left          : 120px;*/
    list-style-type : none;
    font-size       : 20px;
    line-height     : 1.3em;
}

#boulder_setters li {
    display     : block;
    margin-left : 30px;
}

#boulder_setters li.vote {
    display     : block;
    margin-left : 30px;
    font-size   : 50px;
    line-height : 1.3em;
}

#boulder_setters span {
    display   : inline-block;
    min-width : 55px;
}

#boulder_setters a {
    text-decoration : none;
    color           : #212121;
}

#boulder_setters a:hover {
    color : #ffcc00;
}

/*******************************
 * Boulder presentation
 *******************************/

div.boulder_header {
    margin-top : 15px;
    min-height : 132px;
}

div.boulder_rating {
    margin-top    : -10px;
    margin-bottom : 25px;
    min-height    : 70px;
    font-size     : 30px;
}

div.boulder_sector {
    display     : inline-block;
    margin-left : 130px;
    min-height  : 247px;
}

div.boulder_comment {
    padding-left : 32px;
}

div.boulder_actions {
    margin-top   : 40px;
    padding-left : 32px;
}

div.boulder_actions a {
    text-decoration : none;
    color           : #212121;
}

div.boulder_actions a:hover {
    color : #ffcc00;
}

img.grade_tag {
    position    : absolute;
    margin-left : 4px;
    margin-top  : 4px;
    z-index     : 5;
}

#boulder_gradenr {
    /*display     : inline-block;*/
    /*width       : 130px;*/
    font-size   : 70pt;
    /*float       : left;*/
    text-shadow : -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    font-weight : bold;
    margin-top  : -15px;
    padding-top : 0px;
    max-height  : 70px;
}

#boulder_setters {
    margin-left     : 10px;
    list-style-type : none;
    font-size       : 20px;
    line-height     : 1.3em;
}

#boulder_setters li {
    display     : block;
    margin-left : 30px;
    font-size   : 20px;
    line-height : 1.3em;
}

#boulder_setters span {
    display   : inline-block;
    min-width : 55px;
}

#boulder_setters a {
    text-decoration : none;
    color           : #212121;
}

#boulder_setters a:hover {
    color : #ffcc00;
}

/*******************************
 * list for team view
 *******************************/

#team {
    list-style-type : none;
    line-height     : 2.0em;
    margin-left     : 20px;
    padding-top     : 10px;
}

#team li {
    display      : block;
    margin-left  : auto;
    margin-right : auto
}

#team span {
    display : inline-block;
}

#team a {
    text-decoration : none;
    color           : #212121;
}

#team a:hover {
    color           : #ffffff;
    text-decoration : underline;
}

span.month_performance {
    display       : inline-block;
    height        : 30px;
    width         : 30px;
    border        : 1px solid;
    margin-left   : 5px;
    margin-bottom : 35px;
    text-align    : center;
}

span.good {
    background : #009f10;
}

span.bad {
    background : #9f0000;
}

span.setter_performance_date {
    font-size  : 8pt;
    margin-top : -40px;
    float      : left;
}

span.left_date {
    margin-left : 5px;
}

span.right_date {
    margin-left : 255px;
}

div.setter_performance {
    overflow : hidden;
}

/*******************************
 * Profile view
 *******************************/

div.profile_info{
    padding-left : 120px;
    margin-top   : 25px;
}

#profileinfo {
    list-style-type : none;
    line-height     : 1.7em;
}

#profileinfo li {
}

/*******************************
 * Image shadow
 *******************************/


span.avatar {
    position    : absolute;
    margin-left : 0px;
    margin-top  : 0px;
    z-index     : 5;
}

span.shadow {
    display            : inline-block;
    padding            : 2px;
    border             : 4px solid #efefef;
    position           : relative;
    background         : #efefef;
    box-shadow         : 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -webkit-box-shadow : 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow    : 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

span.shadow:after {
    z-index                  : -1;
    position                 : absolute;
    background               : transparent;
    width                    : 50%;
    height                   : 50%;
    content                  : '';
    right                    : 0;
    bottom                   : 0;

    -webkit-transform-origin : right bottom;
    -moz-transform-origin    : right bottom;

    -webkit-transform        : skew(20deg) rotate(10deg);
    -moz-transform           : skew(20deg) rotate(10deg);

    -webkit-box-shadow       : 0 8px 16px rgba(0, 0, 0, 0.8);
    -moz-box-shadow          : 0 8px 16px rgba(0, 0, 0, 0.8);
}

span.shadow:before {
    z-index                  : -1;
    position                 : absolute;
    background               : transparent;
    width                    : 50%;
    height                   : 50%;
    content                  : '';
    left                     : 0;
    bottom                   : 0;

    -webkit-transform-origin : left bottom;
    -moz-transform-origin    : left bottom;

    -webkit-transform        : skew(-20deg) rotate(-10deg);
    -moz-transform           : skew(-20deg) rotate(-10deg);

    -webkit-box-shadow       : 0 8px 16px rgba(0, 0, 0, 0.8);
    -moz-box-shadow          : 0 8px 16px rgba(0, 0, 0, 0.8);
}


/* BALANCE */
.balance {
    font : 10px sans-serif;
}

.balance .marker {
    stroke       : #000;
    stroke-width : 2px;
}

.balance .tick line {
    stroke       : #666;
    stroke-width : .5px;
}

.balance .range.s0 {
    fill : #eee;
}

.balance .range.s1 {
    fill : #ddd;
}

.balance .range.s2 {
    fill : #ccc;
}

.balance .measure.s0 {
    fill   : steelblue;
    border : 1px solid black;
}

.balance .title {
    font-size   : 14px;
    font-weight : bold;
}

.balance .subtitle {
    fill : #999;
}

