html,body {
    margin  : 0;
    padding : 0;
}

#content {
    text-align : left;
    min-height : 100%;
    width      : 100%;
    height     : 100%;
    padding    : 0;
    margin     : 0 auto;
    /*width      : 1280px;*/
}

#minimum-banner {
    /*position    : absolute;*/
    /*left        : 50%;*/
    /*margin-left : -640px;*/
    text-align  : left;
    width       : 1280px;
    height      : 60px;
    margin      : auto;
    padding     : 0;
    z-index     : 1;
    background  : #b4c4d6;
    top         : 0;
    border-top  : 1px solid black;
    border-left : 1px solid black;
    border-right: 1px solid black;
}

#minimum-content {
    /*left          : 50%;*/
    /*margin-left   : -641px;*/
    margin        : 0 auto;
    position      : relative;
    width         : 1280px;
    border-left   : 1px solid black;
    border-right  : 1px solid black;
    height        : 100%;
    background    : #998c7f;
    z-index       : 0;
    overflow      : auto;
    /*overflow      : hidden;*/
    /*max-height    : 740px;*/
}

#minimum-layout-left {
    float         : left;
    top           : 30px;
    width         : 640px;
    padding-left  : 0px;
    padding-right : 0px;
    background    : #998c7f;
    /*overflow      : auto;*/
    /*height        : 100%;*/
}

#minimum-layout-right {
    position      : absolute;
    top           : 30px;
    width         : 640px;
    padding-right : 0px;
    padding-left  : 0px;
    background    : #998c7f;
    /*overflow      : auto;*/
}

#minimum-right-title {
    height       : 70px;
    min-height   : 70px;
    padding-left : 30px;
}

#minimum-left-title {
    height       : 70px;
    min-height   : 70px;
    padding-left : 30px;
    margin-top   : 50px;
}

#minimum-left-content {
    border-right  : 3px solid black;
    height        : 100%;
    margin-left   : 40px;
    /*min-height    : 740px;*/
}

#minimum-right-content {
    height        : 100%;
    margin-left   : 40px;
    /*min-height    : 740px;*/
}
