div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container

      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.brand(href="/")
        a(href="http://www.minimum.ch")
          img.logo(src="/images/Minimum Logo w.png")

      div.nav-collapse
        ul.nav.pull-right
          li: a(href='/') Boulderliste
          li: a(href='/team') Team
          li: a(href='/search') Bouldersuche

          li.divider-vertical
          -if (isAuth)
            li.dropdown
              a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                | #{authSetterName}
                b.caret
              ul.dropdown-menu
                li: a(href='/balance') Gleichgewicht
                li: a(href='/profile') Neuer Boulder
                - if (authSetterRole == 'admin')
                  li: a(href='/batchremove') Batch remove
                li.divider
                li: a(href='/logout') Logout
          -else
            li: a(href='/login') Login

