!!! 5

html(lang='en')
    head
        title= 'Minimum Boulders'
        link(rel='stylesheet', href='/stylesheets/minimum-layout.css')
        link(rel='stylesheet', href='/stylesheets/minimum.css')
        link(rel='stylesheet', media='only screen and (max-device-width:1024px)', href=href='/stylesheets/minimum-layout-ipad.css')

        script(src='/googletracking.js')

        script(src='/jquery-1.7.2.min.js')
        script(src='/rails.js')

    body
         #content!=body
