!!! 5

html(lang='en')
    head
        title= 'Minimum Boulders'
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        link(rel='stylesheet', href='/stylesheets/minimum-layout.css')
        link(rel='stylesheet', media='only screen and (max-device-width:1024px)', href=href='/stylesheets/minimum-layout-ipad.css')
        link(rel='stylesheet', href='/stylesheets/minimum.css')

        script(src='/javascripts/googletracking.js')

        script(src='/javascripts/jquery-1.7.2.min.js')
        script(src='/javascripts/bootstrap.js')
        script(src='/javascripts/rails.js')

        script(src='/javascripts/d3.v2.js')

        script(src="http://use.typekit.com/rtu3vxv.js")
        script(src='/javascripts/font.js')


    body
         #content!=body
