!!! 5

html(lang='en')
    head
        title= 'Minimum Boulders'
        link(rel='stylesheet', href='/stylesheets/minimum-layout.css')
        link(rel='stylesheet', href='/stylesheets/minimum.css')
        link(rel='stylesheet', media='only screen and (max-device-width:1024px)', href=href='/stylesheets/minimum-layout-ipad.css')
        link(rel='stylesheet', media='only screen and (max-device-width:1280px)', href=href='/stylesheets/minimum-layout-galaxy.css')

        script(src='/googletracking.js')
        script(src='/raphael-min.js')

    body
         #content!=body
