#minimum-right-title
  h2 Login

#minimum-right-content

  -if (isAuth)
    = "Hallo " + authSetterName + " schon angemeldet, logout!"
  -else
    form.form-inline(action="/login", method="post")
      input(type="text", name="nickname", placeholder="nickname")
      input(type="password", name="password", placeholder="password")
      button.btn-primary(type="submit", class="btn") Login
