h3 Bouldersuche

div.row
  div.span6

    -if (errorMsg)
      div.alert.alert-error
        = errorMsg

    form.form-inline(action="/search", method="post")
      select(name="grade")
        - for (gr in grade_names)
          option(value="#{grade_names[gr]}")
            =grade_names[gr]
      input.input-small(type="text", name="gradenr", placeholder="gradenr")
      select(name="sector")
        - for (sec in sectors)
          option(value="#{sectors[sec]}")
            =sectors[sec]
      button.btn-primary(type="submit", class="btn") Suchen

