#minimum-right-title
  h2= "Secret aendern"

#minimum-right-content

  form(action="/change/secret", method="post")
    p
      input(type="password", name="old_secret", placeholder="altes secret")
    p
      input(type="password", name="new_secret", placeholder="neues secret")
    p
      input(type="password", name="new_secret_check", placeholder="neues secret bestaetigen")
    p
      submit
        button
          span Secret aendern
