#minimum-right-title
  h2 Team

#minimum-right-content
  ul#team
    - for (var setter_id in team)
      -if (team[setter_id].num_boulders_up > 0)
        li
          a(href="/setter/#{team[setter_id].nickname}")
            span(style="display:inline-block;width:70px;")
              img(class="mini_avatar", style="float:left;", src="/avatars/#{team[setter_id].nickname}_small.jpg")
            = team[setter_id].name
      -if (isAuth)
        -if (authSetterRole == 'admin')
          li
            span
            = "Diesen Monat: " + team[setter_id].num_this_month + " / 3, Total: " + team[setter_id].num_total
