#minimum-banner
    != partial(headerPartialName)
#minimum-content
    span(id="minimum-layout-left")
        != partial(leftPartialName)
    span(id="minimum-layout-right")
        != partial(rightPartialName)
